<!--
  Generated template for the ChangePinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Change Pin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
   <ion-card padding>
    <br>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
	   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Current PIN</div>
	   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
	       <ion-icon name="md-key" style="font-size:25px" color="mywhite"></ion-icon>
	   </ion-col>
	   <ion-col col-9 style="padding:0px" class="center">
	       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="password" maxlength="4" [(ngModel)]="objectblock.current" />
	   </ion-col>
	</ion-row>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Enter a valid PIN</div>
	<br>
	<br>
	<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
	   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">New PIN</div>
	   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
	       <ion-icon name="ios-key" style="font-size:25px" color="mywhite"></ion-icon>
	   </ion-col>
	   <ion-col col-9 style="padding:0px" class="center">
	       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="password" maxlength="4" [(ngModel)]="objectblock.new" />
	   </ion-col>
	</ion-row>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid PIN</div>
    <br>
    <br>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
	   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Confirm New PIN</div>
	   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
	       <ion-icon name="ios-key-outline" style="font-size:25px" color="mywhite"></ion-icon>
	   </ion-col>
	   <ion-col col-9 style="padding:0px" class="center">
	       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="password" maxlength="4" [(ngModel)]="objectblock.confirm" />
	   </ion-col>
	</ion-row>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==3">Enter a valid PIN</div>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==4">New PIN and Confirmed New PIN do not match</div>
    <br>
    <button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Change PIN<ion-spinner name="dots" color="light"></ion-spinner></button>
   </ion-card>

</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>
