<!--
  Generated template for the MainServices page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="back-view3" style="position:relative">
     <button ion-button icon-only menuToggle style="position:absolute;top:10px;left:10px;z-index:999999999" mode="ios" color="mytran">
	  <ion-icon name="menu" color="mywhite" style="font-size:20px"></ion-icon>
	</button>
    <ion-slides loop="true" autoplay=10000 speed=1000 effect="fade" style="height:100%;postion:absolute;left:0px;top:0px">

	  <ion-slide style="background:url('assets/back3.jpg')center;background-size:cover" > 
	  </ion-slide>

	  <ion-slide style="background:url('assets/back1.jpg')center;background-size:cover" >
	  </ion-slide>

	</ion-slides>

    <div class="container2" style="font-size:12px;width:100%;background:rgba(0,0,0,.5);position:absolute;top:0px;left:0px;z-index:99999999;padding:15px">
    	<ion-row style="width:100%;">
    	    <div style="width:100%;padding:20px;text-align:center;color:#ffffff;font-size:15px;font-weight:bold">MCo-op Cash</div>
    		<ion-card style="min-height:60px;max-height:100px;border-radius:0px;padding:0px" (click)="openPage('Services')" color="coopdarkgreen" class="center raisedlay">
    		   
		        <ion-item style="font-size:12px;" color="coopdarkgreen">
				    <ion-avatar item-left>
				        <img src="assets/logo.png">
				    </ion-avatar>
				    MCo-op Cash Services
				    <button ion-button icon-only clear item-right>
					  <ion-icon color="mywhite" name="arrow-forward"></ion-icon>
					</button>
				</ion-item>    
    	    </ion-card>
    	</ion-row>
    	
        <div class=" center" style="width:100%;color:#ffffff;font-size:11px;">
    		<div style="width:100%;height:100%;padding:10px;" class="center">
    			
	    		<ion-row style="padding:0px;width:100%;" >
	    		    <div style="width:100%;text-align:center;font-size:11px;padding:5px">Quick links</div>
	    		    <ion-col col-3 class="center"  (click)="openPage('LoansPage')">
	    		       <div style="text-align:center;width:100%">
		    		       <div style="height:40px;width:40px;margin:0px;border-radius:50%;margin-right:auto;margin-left:auto" class="center raisedlay grad">
		    		           <img src="assets/give-money.png" style="height:20px;width:20px;"/>
		    		       </div>
		    		       <br>
		    		       Get a loan
	    		       </div>
	    		    </ion-col>
	    		    <ion-col col-3 class="center" (click)="openPage('Balance')">
	    		       <div style="text-align:center;width:100%">
		    		        <div style="height:40px;width:40px;margin:0px;border-radius:50%;margin-right:auto;margin-left:auto"class="center raisedlay grad">
		    		           <img src="assets/change.png" style="height:20px;width:20px;"/>
		    		        </div>
		    		        <br>
		    		        Check balance
		    		    </div>
	    		    </ion-col>
	    		    <ion-col col-3 class="center" (click)="openPage('PayBillsPage')">
	                    <div style="text-align:center;width:100%">
		    		       <div style="height:40px;width:40px;margin:0px;border-radius:50%;margin-right:auto;margin-left:auto" class="center raisedlay grad">
		    		           <img src="assets/receipt.png" style="height:20px;width:20px;"/>
		    		        </div>
		    		        <br>
		    		        Pay
		    		    </div>
	    		    </ion-col>
	    		    <ion-col col-3 class="center" (click)="openPage('sendmoney')">
	    		        <div style="text-align:center;width:100%">
		    		       <div style="height:40px;width:40px;margin:0px;border-radius:50%;margin-right:auto;margin-left:auto"class="center raisedlay grad">
		    		           <img src="assets/sendcash.png" style="height:20px;width:20px;"/>
		    		        </div>
		    		        <br>
		    		        Send Money
		    		     </div>
	    		    </ion-col>
	    	    </ion-row>
            </div>
        </div>
    	
		<ion-row style="width:100%;">
		    <ion-col col-6  class="center" style="width:100%;padding:0px">
		        <div style="width:100%;">
		    		<ion-card style="max-height:100px;border-radius:0px;font-size:12px;" (click)="openPage('PesalinkPage')" class="raisedlay" color="coopdarkgreen"> 
		    		    <img src="assets/pesalink.png" style="width:50px;height:50px;border-radius:50%;margin-right:auto;margin-left:auto;margin-bottom:10px;margin-left:auto;margin-right:auto;margin-top:10px">
		    		    
		    	    </ion-card>
		    	    <div style="width:100%;color:#ffffff;text-align:center;">
						Pesalink 
					</div>
			    </div>
    	    </ion-col>
    	    <ion-col col-6  class="center" style="width:100%;padding:0px">
    	        <div style="width:100%;">
		    		<ion-card style="max-height:100px;border-radius:0px;font-size:12px" (click)="openPage('Mvisa')" class="raisedlay" color="coopdarkgreen">
		    		    <img src="assets/mvisa.png" style="width:50px;height:50px;border-radius:50%;margin-right:auto;margin-left:auto;margin-bottom:10px;margin-left:auto;margin-right:auto;margin-top:10px">
		    		    
		    	    </ion-card>
		    	    <div style="width:100%;color:#ffffff;text-align:center">
					    mVisa
					</div>
	    	    </div>
    	    </ion-col>
	    </ion-row>
	
		<ion-row style="width:100%;">
		    
    	    <ion-col col-6  class="center" style="width:100%;padding:0px">
    	        <div style="width:100%;">
		    		<ion-card style="max-height:100px;border-radius:0px;font-size:12px" (click)="openPage('Location')" class="raisedlay" color="coopdarkgreen">
		    		    <img src="assets/locateus.png" style="width:50px;height:50px;border-radius:50%;margin-right:auto;margin-left:auto;margin-bottom:10px;margin-left:auto;margin-right:auto;margin-top:10px">
		    		    
		    	    </ion-card>
		    	    <div style="width:100%;color:#ffffff;text-align:center" >
						Locate Us 
				    </div>
	    	    </div>
    	    </ion-col>
    	    <ion-col col-6  class="center" style="width:100%;padding:0px">
    	        <div style="width:100%;">
		    		<ion-card style="max-height:100px;border-radius:0px;font-size:12px" (click)="openPage('Pesalink')" class="raisedlay" color="coopdarkgreen">
		    		    <img src="assets/customer-service.png" style="width:50px;height:50px;border-radius:50%;margin-right:auto;margin-left:auto;margin-bottom:10px;margin-left:auto;margin-right:auto;margin-top:10px">
		    		    
		    	    </ion-card>
		    	    <div style="width:100%;color:#ffffff;text-align:center">
					    Contact Us
					</div>
	    	    </div>
    	    </ion-col>
	    </ion-row>
    	
    </div>
</ion-content>
