<!--
  Generated template for the Location page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Locate Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3">
    <ion-tabs color="coopdarkgreen">
	    <ion-tab [root]="tab1Root" tabTitle="Co-op Map" tabIcon="map"></ion-tab>
	    <ion-tab [root]="tab2Root" tabTitle="Locations" tabIcon="list-box"></ion-tab>
	</ion-tabs>

</ion-content>
