<!--
  Generated template for the LoansPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Loans</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="back-view3" padding>
  <div class="raisedlay" style="background:#ffffff;margin:10px">
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/application.jpg">
        </ion-avatar>
        
        <p>Apply Loan</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/money.png">
        </ion-avatar>
        
        <p>Pay Loan</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/cash.png">
        </ion-avatar>
        
        <p>Loan Balance</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/checklist.png">
        </ion-avatar>
        
        <p>Loan Statement</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>
