<!--
  Generated template for the Services page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <div  class="container2">

		<ion-row class="row2" >
		    
			<ion-col (click)="openPage('Balance')"  class="text-center "  >
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/change.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Check Balance 
				</div>
			</ion-col>
			<ion-col (click)="openPage('sendmoney')" class="text-center">
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/sendmoney.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Send Money
				</div>
			</ion-col>
			
			<ion-col (click)="openPage('LoansPage')" class="text-center ">
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/give-money.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Loans
				</div>
			</ion-col>
		</ion-row>
		
		<ion-row class="row2">
			
			<ion-col (click)="openPage('Airtime')" class="text-center ">
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/mobilecred.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Buy Airtime
				</div>
			</ion-col>
			<ion-col (click)="openPage('PayBillsPage')" class="text-center ">
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/receipt.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Pay Bills
				</div>
			</ion-col>
			<ion-col (click)="openPage('Withdraw')" class="text-center " >
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/withdraw.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					 Withdraw Cash
				</div>
			</ion-col>
		</ion-row>
		<ion-row class="row2">
		    
			
			<ion-col (click)="openPage('BanktransfersPage')" class="text-center " >
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/sendcash.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Bank Transfers
				</div>
			</ion-col>
			
			
			<ion-col (click)="openPage('Payments')" class="text-center ">
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/payments.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Payments
				</div>
			</ion-col>
			<ion-col (click)="openPage('OtherServicesPage')" class="text-center " >
				<ion-card style="height:60px;width:60px;margin-left:auto;margin-right:auto;border-radius:50%;" class="center grad">
		           <img src="assets/puzzle.png" style="height:30px;width:30px"/>
		        </ion-card>
				<div style="color:#000000; margin-top:5px;text-align:center;font-size:10px;line-height: 110%;font-style:bold;">
					Other Services
				</div>
			</ion-col>
		</ion-row>
		
		
	</div>	
			
</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>