<!--
  Generated template for the SelfRegistration page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="coopdarkgreen" >
    <ion-title >Self Register</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="back-view3" padding>
    <ion-card padding>
	    <ion-row style="position:relative;display:flex;align-items:center">
	        <div style="position:absolute;border-radius:5px;top:50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);background:#00543C;height:2px;width:90%;z-index:1"></div>
		    <ion-col class="center">
		        <div class="center {{selectedPage}}" style="color:#ffffff;border-radius:50%;height:30px;width:30px;z-index:2;border:2px solid #00543C" (click)="openPage('1')">1</div>
		    </ion-col>
		    <ion-col class="center">
		     	<div class="center {{selectedPage2}}" style="color:#ffffff;border-radius:50%;height:30px;width:30px;z-index:2;border:2px solid #00543C" (click)="openPage('2')" >2</div>
		    </ion-col>
	    </ion-row>
	    <br>
    

        <div *ngIf="firstform" style="width:100%;text-align:center">
        	<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Mobile Number</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="phone-portrait" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;letter-spacing:5px;height:100%;border:none;width:100%" type="tel" maxlength="10" placeholder="(07)" [(ngModel)]="objectblock.mobile" />
			   </ion-col>

			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Enter a valid mobile number</div>
			<br>
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">First Name</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="contact" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="text" maxlength="100"  [(ngModel)]="objectblock.first" />
			   </ion-col>
			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid first name</div>
			<br>
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Second Name</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="contact" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="text" maxlength="100"  [(ngModel)]="objectblock.second" />
			   </ion-col>
			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==3">Enter a valid second name</div>
			<br>
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Last Name</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="contact" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="text" maxlength="100" [(ngModel)]="objectblock.last" />
			   </ion-col>
			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==4">Enter a valid last name</div>
			<br>
					  
			<button ion-button block color="cooplightgreen" mode="ios"  (click)="openPage('2')" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Next<ion-spinner name="dots" color="light"></ion-spinner></button>
			
	    </div>
		<div *ngIf="!firstform">
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">ID / Passport Number</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="list-box" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.id" />
			   </ion-col>
			</ion-row>
	        <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==5">Enter a valid ID / Passport number</div>
		    <br> 
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Date of Birth</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="calendar" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <ion-datetime mode="md" displayFormat="DD-MM-YYYY" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" [(ngModel)]="objectblock.dob"></ion-datetime>
			       
			   </ion-col>
			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==6">Enter a valid Date of Birth</div>
            <br>
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Co-op Account </div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" placeholder="(Enter if you have one)" type="tel" maxlength="100" [(ngModel)]="objectblock.account" />
			   </ion-col>
			</ion-row>
	        <br>
	        <button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Register<ion-spinner name="dots" color="light"></ion-spinner></button>
	    </div>
    </ion-card>

</ion-content>
