<!--
  Generated template for the NewsItem page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="coopdarkgreen">
    <ion-title>{{categoryTitle}} News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <div style="background:#ffffff;padding:20px">
    	<h4 [innerHTML]="newsItem.title"></h4>
    	<div [innerHTML]="newsItem.updateddate" style="color:#77BC1F"></div>
    </div>
	<div [innerHTML]="newsItem.story" style="background:#ffffff;padding:20px;"></div>

</ion-content>
