<!--
  Generated template for the OtherServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Other Services</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
  <div class="raisedlay" style="background:#ffffff;margin:10px">
    <ion-list>
      <ion-item (click)="openPage('StatementPage')">
        <ion-avatar item-left>
          <img src="assets/inqr.png">
        </ion-avatar>
        
        <p>Get Statement</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="openPage('Mini Statement')">
        <ion-avatar item-left>
          <img src="assets/serviceguide.png">
        </ion-avatar>
        
        <p>Service Guide</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="openPage('ChangePinPage')">
        <ion-avatar item-left>
          <img src="assets/changepin.png">
        </ion-avatar>
        
        <p>Change PIN</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
   </div> 
</ion-content>
