<!--
  Generated template for the BillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="coopdarkgreen">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <ion-card padding>
        <br>
	    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Pay from</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.account" style="max-width:auto;min-width:95%;text-align:right">
				       <ion-option *ngFor="let account of accounts"><img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-start/>{{account}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
	    <br>
        <br>
        <div *ngIf="!ismobile">
	        <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account number</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.accountto" />
			   </ion-col>
			</ion-row>
	        <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Enter a valid account number</div>
        </div>
        <div *ngIf="ismobile">
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;" >
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Mobile Number {{cname}}</div>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
			       <ion-icon name="phone-portrait" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-6 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="10" [(ngModel)]="objectblock.accountto" />
			   </ion-col>
			   <ion-col col-3 style="padding:0px;background:#00543C" class="center" (click)="pickContact()">
			       <ion-icon name="contacts" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			</ion-row>
			<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid mobile number</div>
        </div>
        <br>
        <br>
        <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Amount</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="cash" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-9 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.amount" />
		   </ion-col>
		</ion-row>
        <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==3">Enter a valid amount</div>
        <br>
		<button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Pay<ion-spinner name="dots" color="light"></ion-spinner></button>
    </ion-card>
</ion-content>
