<!--
  Generated template for the Airtime page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Buy airtime</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <ion-card padding>
        <br>
	    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Buy from</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.account" style="max-width:auto;min-width:95%;text-align:right">
				       <ion-option *ngFor="let account of accounts"><img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-start/>{{account}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
	    <br>
        <br>
        <ion-row style="position:relative;height:auto;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Select Provider</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="ios-radio-outline" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-list radio-group [(ngModel)]="objectblock.provider">
				  <ion-item color="mytran" style="font-size:12px">
				    <ion-label>Safaricom</ion-label>
				    <img src="assets/safcom.jpg" style="height:40px;width:40px;border-radius:50%" item-start/>
				    <ion-radio value="Safaricom" color="mybrown" ></ion-radio>
				  </ion-item>
				  <hr style="background:#ffffff;max-width:90%">
				  <ion-item color="mytran" style="font-size:12px" no-lines>
				    <ion-label>Airtel</ion-label>
				    <img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-start/>
				    <ion-radio value="Airtel" color="mybrown"></ion-radio>
				  </ion-item>
				</ion-list>
		   </ion-col>
		</ion-row>
        <br>
        <br>
        <ion-row style="position:relative;height:auto;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">By airtime for</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="person" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-list radio-group [(ngModel)]="objectblock.receiver" (ngModelChange)="checkRecepeint(objectblock.receiver)">
				  <ion-item color="mytran" style="font-size:12px">
				    <ion-label>My {{objectblock.provider}} number</ion-label>
				    <ion-radio value="My number" color="mybrown"></ion-radio>
				  </ion-item>
				  <hr style="background:#ffffff;max-width:90%">
				  <ion-item color="mytran" style="font-size:12px" no-lines>
				    <ion-label>Other {{objectblock.provider}} number</ion-label>
				    <ion-radio value="Other number" color="mybrown"></ion-radio>
				  </ion-item>
				</ion-list>
		   </ion-col>
		</ion-row>
		<br>
		<br>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Amount</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="cash" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-9 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.amount" />
		   </ion-col>
		</ion-row>
        <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Enter a valid amount</div>
        <br>
		<br>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;" *ngIf="!showmine">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Mobile Number {{cname}}</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="phone-portrait" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-6 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="10" [(ngModel)]="objectblock.receiverno" />
		   </ion-col>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center" (click)="pickContact()">
		       <ion-icon name="contacts" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		</ion-row>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;" *ngIf="showmine">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Mobile Number</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="phone-portrait" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-9 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="10" [(ngModel)]="objectblock.receiverno" readonly/>
		   </ion-col>
		   
		</ion-row>
        <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid mobile number</div>
        <br>
	    <button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Buy airtime<ion-spinner name="dots" color="light"></ion-spinner></button>
    </ion-card>

</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>