<!--
  Generated template for the StatementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Get Statement</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <ion-card padding>
        <br>
        <ion-row style="position:relative;height:auto;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Select statement type</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="ios-redo" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-list radio-group [(ngModel)]="objectblock.stmttype">
				  
				  <ion-item color="mytran" style="font-size:12px" no-lines>
				    <ion-label>Mini Statement</ion-label>
				    
				    <ion-radio value="Mini" color="mybrown"></ion-radio>
				  </ion-item>
				  <hr style="background:#ffffff;max-width:90%">
				  <ion-item color="mytran" style="font-size:12px" no-lines>
				    <ion-label>Full Statement</ion-label>
				    
				    <ion-radio value="Full" color="mybrown"></ion-radio>
				  </ion-item>
				  
				</ion-list>
		   </ion-col>
		</ion-row>
		<br>
		<br>
	    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Select account</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.account" style="max-width:auto;min-width:95%;text-align:right">
				       <ion-option *ngFor="let account of accounts"><img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-left/>{{account}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
	    
		<div *ngIf="objectblock.stmttype=='Full'">
			<br>
			<br>
		    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Statement period</div>
			    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
			        <ion-icon name="clock" style="font-size:25px" color="mywhite"></ion-icon>
			    </ion-col>
			    <ion-col col-9 style="padding:0px" class="center">
					<ion-item color="mytran" style="font-size:12px" no-lines>
					    
					    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.period" style="max-width:auto;min-width:95%;text-align:right">
					       <ion-option *ngFor="let period of periods" [value]="period"><img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-left/>{{period.name}}</ion-option>
					    </ion-select>
					</ion-item>

			   </ion-col>
		  
			</ion-row>
		    <br>
		    <br>
		    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Delivery mode</div>
			    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
			        <ion-icon name="paper-plane" style="font-size:25px" color="mywhite"></ion-icon>
			    </ion-col>
			    <ion-col col-9 style="padding:0px" class="center">
					<ion-item color="mytran" style="font-size:12px" no-lines>
					    
					    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.mode" style="max-width:auto;min-width:95%;text-align:right">
					       <ion-option *ngFor="let mode of modes" [value]="mode" ><img src="assets/airtel.png" style="height:40px;width:40px;border-radius:50%" item-left />{{mode.name}}</ion-option>
					    </ion-select>
					</ion-item>

			   </ion-col>
		  
			</ion-row>
		</div>
	    <br>
	    <button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Get Statement<ion-spinner name="dots" color="light"></ion-spinner></button>
    </ion-card>
</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>