<!--
  Generated template for the NewsList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="coopdarkgreen">
    <ion-title>{{categoryTitle}} News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
	<ion-refresher (ionRefresh)="doRefresh($event);" >
		<ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="bubbles">
		</ion-refresher-content>
	</ion-refresher>
	<ion-list  [virtualScroll]="newslist" approxItemHeight='100px' bufferRatio='8'>
		<div    *virtualItem="let news" class="raisedlay" (click)="openNewsItem(news)" style="padding:0px;background:#ffffff;width:100%;margin:20px 0px 10px 0px">
		    <div class="row" style="padding:0px;margin:0px">
			    <div class="col col-30" style="padding:0px;height:100px">
		            <ion-img [src]="news.image_url" style="width:100%;height:100px"></ion-img>
		        </div>
				<div class="col col-70 center" style="padding-left:10px;padding:right:10px;font-size:12px" >
				    <div style="width:100%">
						<div [innerHTML]="news.title" style="width:100%"></div>
						
						<div [innerHTML]="news.updateddate" style="color:#77BC1F"></div>
					</div>
				</div>
		    </div>
		</div>
		
    </ion-list>
	

</ion-content>
