page-map {
    #please-connect {
		position: absolute;
		background-color: #000;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		z-index: 1;
	  }
	 
	  #please-connect p {
		  color: #fff;
		  font-weight: bold;
		  text-align: center;
		  position: relative;
		  font-size: 1.6em;
		  top: 50%;
		  left: 50%;
		  margin-right: -50%;
		  transform: translate(-50%, -50%);
		  -webkit-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
	  }
	 
	  .scroll {
		  height: 100%;
	  }
	 
	  #map {
		  width: 100%;
		  height: 100%;
	  }
}
