<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
    </div>
  
	<ion-row radio-group id="mapOptions" [(ngModel)]="mapType" (ngModelChange)='loadPoints()' style="padding:0px">
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Atms</ion-label>
				<ion-radio  value="atm"  mode="md" color="coopdarkgreen" checked></ion-radio>
			</ion-item>
		</ion-col>
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Branches</ion-label>
				<ion-radio value="branch" mode="md" color="coopdarkgreen"></ion-radio>
			</ion-item>
		</ion-col>
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Agents</ion-label>
				<ion-radio  value="agent" mode="md" color="coopdarkgreen"></ion-radio>
			</ion-item>
		</ion-col>
	</ion-row>
   
  <div #map id="map" >
   
  </div>
  
</ion-content>
