// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  coopdarkgreen:   #00543C,
  cooplightgreen:  #79C142,
  myblack:    #000000,
  mywhite:    #ffffff,
  mytran:     rgba(0,0,0,0),
  coopoddgreen:  #378C62,
  oddgreen:   #759B84,
  coopoddgreen2:  #006e4e,
  inputgrey:  rgba(205,205,205,.7),
  mypurp:     #c14279,
  mybrown:    #543c00,
  mymaroon:   #540018,
  mygrey:     rgba(205,205,205,1),
  myblue:     #4279c1
  
);
$text-input-placeholder-color:#ffffff;
$refresher-icon-color:#ffffff;
$refresher-border-color:rgba(0,0,0,0);
$img-placeholder-background:url("../assets/coopback.jpg") no-repeat center;

$toolbar-ios-title-text-color:#ffffff;
$toolbar-md-title-text-color:#ffffff;

$select-md-icon-color:#444;
$select-wp-icon-color:#444;
$select-ios-icon-color:#444;

$toolbar-ios-title-text-color: #ffffff;
$toolbar-ios-button-color: #ffffff;
$toolbar-ios-title-font-size: 14px;
$toolbar-md-title-text-color: #ffffff;
$toolbar-md-button-color: #ffffff;
$toolbar-md-title-font-size: 14px;
$toolbar-wp-title-text-color: #ffffff;
$toolbar-wp-button-color: #ffffff;
$toolbar-wp-title-font-size: 14px;

$menu-width :200px;
$radio-md-color-off:#ffffff;

$radio-wp-color-off:#ffffff;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$font-family-md-base: 'EpoClassic-Lig';
$font-family-ios-base: 'EpoClassic-Lig';
$font-family-wp-base: 'EpoClassic-Lig';