// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.container2 {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    height: 100%
}
.container2> .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.container2> .row3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    position: relative
}
.slider-pager {
    bottom: 5px
}
.slider-row {
    -webkit-flex: 1.3 !important;
    -webkit-box-flex: 1.3;
    -ms-flex: 1.3;
    flex: 1.3;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.row2 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.services-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    height: 100%
}
.services-container> .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.custom-row {
    -webkit-flex: .8 !important;
    -webkit-box-flex: .8;
    -ms-flex: .8;
    flex: .8;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.icon-row {
    display: block;
    position: relative;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.login-container {
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    ms-flex-direction: column;
    flex-direction: column;
    
    height: 100%
}
.login-container> .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.image-row {
    -webkit-flex: 1 !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	height:100%;
}
.advert-row {
    -webkit-flex: 1 !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.quat-row {
    -webkit-flex: .7 !important;
    -webkit-box-flex: .7;-ms-flex: .7;
    flex: .7;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.abquat-row {
    -webkit-flex: .2 !important;
    -webkit-box-flex: .2; -ms-flex: .2;
    flex: .2;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.abquat2-row {
    -webkit-flex: .1 !important;
    -webkit-box-flex: .1; -ms-flex: .1;
    flex: .1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.triquat-row {
    -webkit-flex: .3 !important;
    -webkit-box-flex: .3; -ms-flex: .3;
    flex: .3;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.button-row {
    -webkit-flex: .9 !important;
    -webkit-box-flex: .9; -ms-flex: .9;
    flex: .9;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.container2> .button-row2 {
    -webkit-flex: .5 !important;
    -webkit-box-flex: .5; -ms-flex: .5;
    flex: .5;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.back-view {
    background: url("../assets/back1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}
.back-view2 {
    background: url("../assets/nmbback2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}
.back-view3 {
    background: url("../assets/coopback2.jpg");
    
}
.back-view4 {
    background: url("../assets/coopmain3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover
}
.myspinner {
    -webkit-animation-name: myspinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 1s;

    animation-name: myspinner;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* WebKit and Opera browsers */
  @-webkit-keyframes myspinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
  }

  /* all other browsers */
  @keyframes myspinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  
  .myspinner2 {
    -webkit-animation-name: myspinner2;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-duration: 1s;

    animation-name: myspinner2;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-duration: 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* WebKit and Opera browsers */
  @-webkit-keyframes myspinner2 {
    from { -webkit-transform: rotateX(0deg);    }
    to   { -webkit-transform: rotateX(-360deg); }
  }

  /* all other browsers */
  @keyframes myspinner2 {
    from {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
    }
    to {
      -moz-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
    }
  }
 @-webkit-keyframes wobble { 
	0% { -webkit-transform: translateX(0%); } 
	15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
	30% { -webkit-transform: translateX(20%) rotate(3deg); } 
	45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
	60% { -webkit-transform: translateX(10%) rotate(2deg); } 
	75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
	100% { -webkit-transform: translateX(0%); } 
 }
 
 @keyframes wobble { 
	0% { transform: translateX(0%); } 
	15% { transform: translateX(-25%) rotate(-5deg); } 
	30% { transform: translateX(20%) rotate(3deg); } 
	45% { transform: translateX(-15%) rotate(-3deg); } 
	60% { transform: translateX(10%) rotate(2deg); } 
	75% { transform: translateX(-5%) rotate(-1deg); } 
	100% { transform: translateX(0%); } 
 }
 
 .wobble { 
	-webkit-animation-name: wobble; 
	animation-name: wobble; 
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
 }

@-webkit-keyframes wiggle { 
0% { -webkit-transform: skewX(9deg); }
10% { -webkit-transform: skewX(-8deg); }
20% { -webkit-transform: skewX(7deg); }
30% { -webkit-transform: skewX(-6deg); }
40% { -webkit-transform: skewX(5deg); } 
50% { -webkit-transform: skewX(-4deg); } 
60% { -webkit-transform: skewX(3deg); }
70% { -webkit-transform: skewX(-2deg); } 
80% { -webkit-transform: skewX(1deg); } 
90% { -webkit-transform: skewX(0deg); }
100% { -webkit-transform: skewX(0deg); } 
}

@keyframes wiggle { 
0% { transform: skewX(9deg); } 
10% { transform: skewX(-8deg); } 
20% { transform: skewX(7deg); } 
30% { transform: skewX(-6deg); } 
40% { transform: skewX(5deg); } 
50% { transform: skewX(-4deg); } 
60% { transform: skewX(3deg); } 
70% { transform: skewX(-2deg); } 
80% { transform: skewX(1deg); } 
90% { transform: skewX(0deg); } 
100% { transform: skewX(0deg); } 
}

.wiggle { 
-webkit-animation-name: wiggle;
animation-name: wiggle; 
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in; 
-webkit-animation-duration: 1s; 
animation-duration: 1s; 
-webkit-animation-fill-mode: both;
animation-fill-mode: both; 
}

.animated.wiggle { 
-webkit-animation-duration: 0.75s; 
animation-duration: 0.75s;
}
.no-scroll {
    scroll-content {
        overflow-y: hidden;
    }
}
@keyframes "spin" {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-moz-keyframes "spin" {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes "spin" {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.stunspin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear
}
@keyframes "spinb" {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@-moz-keyframes "spinb" {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes "spinb" {
    from {
        -webkit-transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}
.stunspin2 {
    animation-name: spinb;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    -webkit-animation-name: spinb;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear
}
.centerabs{
position: absolute;top: 50%;left: 50%;margin-right: -50%;-webkit-transform: translate(-50%, -50%);
}
.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.raisedlay {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
}
.grad {
    background: #79C142; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(-180deg,#00543C,#79C142); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(-180deg,#00543C,#79C142); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(-180deg,#00543C,#79C142); /* For Firefox 3.6 to 15 */
		background: linear-gradient(-180deg,#00543C,#79C142); /* Standard syntax */
}
.toolbar-background{
	background: rgba(0,0,0,0); /* For browsers that do not support gradients */

}
.mycustomborder{
    border-bottom: 4px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #79C142 0%, #00543C 33%, #79C142 66%, #00543C 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #79C142 0%, #00543C 33%, #79C142 66%, #00543C 100%);
    border-image: linear-gradient(to right, #00543C 0%, #79C142 0%, #00543C 33%, #79C142 66%, #00543C 100%);

    border-image-slice: 1;
}

@font-face {
    font-family: 'EpoClassic-Lig';
    src: url('../assets/fonts/Webfonts/epocaclassic_light_macroman/EpoClassic-Lig-webfont.woff') format('woff'),url('../assets/fonts/Webfonts/epocaclassic_light_macroman/EpoClassic-Lig-webfont.woff2') format('woff2');     
    font-weight: normal;
    font-style: normal;
}
body, .ionic-body  {
    font-family:'EpoClassic-Lig';
}
input[type="tel"].customplaceholder::-moz-placeholder,
    textarea[type="tel"].customplaceholder::-moz-placeholder {
        color: #000000;
        letter-spacing:10px;
    }
    input[type="tel"].customplaceholder:-ms-input-placeholder,
    textarea[type="tel"].customplaceholder:-ms-input-placeholder {
        color: #000000;
        letter-spacing:10px;
    }
    input[type="tel"].customplaceholder::-webkit-input-placeholder,
    textarea[type="tel"].customplaceholder::-webkit-input-placeholder {
        color: #000000;
        text-indent: 0;
        letter-spacing:10px;
    }
    input[type="password"].customplaceholder::-moz-placeholder,
    textarea[type="tel"].customplaceholder::-moz-placeholder {
        color: #000000;
        letter-spacing:normal;
    }
    input[type="password"].customplaceholder:-ms-input-placeholder,
    textarea[type="tel"].customplaceholder:-ms-input-placeholder {
        color: #000000;
        letter-spacing:normal;
    }
    input[type="password"].customplaceholder::-webkit-input-placeholder,
    textarea[type="tel"].customplaceholder::-webkit-input-placeholder {
        color: #000000;
        text-indent: 0;
        letter-spacing:normal;
    }
    input[type="text"].customplaceholder::-moz-placeholder,
    textarea[type="text"].customplaceholder::-moz-placeholder {
        color: #000000;
        
    }
    input[type="text"].customplaceholder:-ms-input-placeholder,
    textarea[type="text"].customplaceholder:-ms-input-placeholder {
        color: #000000;

    }
    input[type="text"].customplaceholder::-webkit-input-placeholder,
    textarea[type="text"].customplaceholder::-webkit-input-placeholder {
        color: #000000;
        text-indent: 0;
    
    }
    input[type="tel"].customplaceholder2::-moz-placeholder,
    textarea[type="tel"].customplaceholder2::-moz-placeholder {
        color: #ffffff;
        
    }
    input[type="tel"].customplaceholder2:-ms-input-placeholder,
    textarea[type="tel"].customplaceholder2:-ms-input-placeholder {
        color: #ffffff;

    }
    input[type="tel"].customplaceholder2::-webkit-input-placeholder,
    textarea[type="tel"].customplaceholder2::-webkit-input-placeholder {
        color: #ffffff;
        text-indent: 0;
    
    }
    .pagerGreen{
       background:#00543C;
    }
    .pagerGrey{
       background:#759B84;
    }
    .left-to-right {
         border: 2px solid transparent;
         border-radius:5px;
      -moz-border-image: -moz-linear-gradient(left, #00543C 0%, #79C142 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #00543C 0%, #79C142 100%);
      border-image: linear-gradient(to right, #00543C 0%, #79C142 100%);

      border-image-slice: 1;
    }
    .alertTitle{ 
		color:#00543C;
		font-size:14px;
	}