<ion-menu [content]="content">
  <ion-content >
    <div class="login-container" style="background:#7fa99d">
              
    <ion-row class="advert-row" style="padding:0px;background:#007b58" (click)= 'openPage("MainServices")' menuClose>
      <ion-col class="center" style="text-align:center;height:100%;width:100%;">
        <div style="margin-left:auto;margin-right:auto;width:100%;">
          <img src="assets/grid.png" style="height:50%;width:auto;max-height:64px;"/>
          <p style="color:#ffffff;font-size:11px;width:100%">Main Services</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="advert-row" style="padding:0px;background:#00684a" (click)= 'openPage("News")' menuClose>
      <ion-col class="center" style="text-align:center;height:100%;width:100%;">
        <div style="margin-left:auto;margin-right:auto;width:100%">
          <img src="assets/newspaper.png" style="height:50%;width:auto;max-height:64px"/>
          <p style="color:#ffffff;font-size:11px;width:100%">News</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="advert-row" style="padding:0px;background:#00543c"(click)= 'openPage("About")' menuClose>
      <ion-col class="center" style=" text-align:center;height:100%;width:100%;display: flex;align-items: center">
        <div style="margin-left:auto;margin-right:auto;width:100%">
          <img src="assets/about.png" style="height:50%;width:auto;max-height:64px"/>
          <p style="color:#ffffff;font-size:11px;width:100%">About MCo-opCash</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="advert-row"  style="padding:0px;background:#00402e"(click)= 'openPage("Contact")' menuClose>
      <ion-col class="center" style=" text-align:center;height:100%;width:100%;display: flex;align-items: center">
        <div style="margin-left:auto;margin-right:auto;width:100%">
          <img src="assets/contact.png" style="height:50%;width:auto;max-height:64px"/>
          <p style="color:#ffffff;font-size:11px;width:100%">Contact Us</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="advert-row"  style="padding:0px;background:#002d20"(click)= 'openPage("Location")' menuClose>
      <ion-col class="center" style=" text-align:center;height:100%;width:100%;display: flex;align-items: center">
        <div style="margin-left:auto;margin-right:auto;width:100%">
          <img src="assets/locate.png" style="height:50%;width:auto;max-height:64px"/>
          <p style="color:#ffffff;font-size:11px;width:100%">Locate Us</p>
        </div>
      </ion-col>
    </ion-row>
   
    <ion-row class="advert-row" style="padding:0px;background:#001912" (click)= 'openPage("Login")' menuClose>
      <ion-col class="center" style=" text-align:center;height:100%;width:100%;display: flex;align-items: center">
        <div style="margin-left:auto;margin-right:auto;width:100%">
          <img src="assets/logout.png" style="height:50%;width:auto;max-height:64px"/>
          <p style="color:#ffffff ;font-size:11px;width:100%">Log out</p>
        </div>
      </ion-col>
    </ion-row>
    
  </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>