<!--
  Generated template for the News page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Select your interest</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content class="back-view3" padding>
    <div class="container2" >
			
			
		<div class="row row2" >
			
			<div  (click)="openNews('Kenya','1')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/kicc.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Kenya</div>
				</div>
			</div>
			<div  (click)="openNews('World', '5')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/world.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;font-size:12px;border:none;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">World</div>
				</div>
			</div>
			
		</div>
		
		<div class="row row2" >
			
			<div  (click)="openNews('Business','4')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/business.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Business</div>
				</div>
			</div>
			<div  (click)="openNews('Sports','6')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/sports.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Sports</div>
				</div>
			</div>
			
		</div>
		<div class="row row2" >
			
			<div  (click)="openNews('Lifestyle','9')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/lifestyle.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Lifestyle</div>
				</div>
			</div>
			<div  (click)="openNews('Entertainment','38')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/ent.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Entertainment</div>
				</div>

			</div>
			
		</div>
		<div class="row row2" >
			
			<div  (click)="openNews('Technology','42')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/tech.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Technology</div>
				</div>
			</div>
			<div  (click)="openNews('Other','00')" class="col col-50 text-center " style="height:100px;padding:10px" >
				<div  class="raisedlay" style="background:url('assets/morenews.jpg')center no-repeat;background-size:cover;height:100%;width:100%;position:relative">
				    <div style="position:absolute;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,.2);"></div>
					<div style="color:#ffffff;position:absolute;bottom:10px;left:10px;text-decoration:none;border:none;font-size:12px;text-shadow: 0 0 3px #000000;white-space: nowrap;overflow: hidden;">Other News</div>
				</div>
			</div>	
		</div>	
	</div>
</ion-content>
