<!--
  Generated template for the PayBillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Pay Bills</ion-title>
  </ion-navbar>

</ion-header>
<ion-content class="back-view3" padding>
  <div class="raisedlay" style="background:#ffffff;margin:10px">
    <ion-list>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/payment.jpg">
        </ion-avatar>
        
        <p>Pay Goods and Services</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('KPLC Postpaid')">
        <ion-avatar item-left>
          <img src="assets/kenyapower.jpg">
        </ion-avatar>
        
        <p>KPLC Postpaid</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('KPLC Prepaid')">
        <ion-avatar item-left>
          <img src="assets/kenyapower.jpg">
        </ion-avatar>
        
        <p>KPLC Prepaid</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('Nairobi Water')">
        <ion-avatar item-left>
          <img src="assets/nairobi.jpg">
        </ion-avatar>
        
        <p>Nairobi Water</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('Zuku')">
        <ion-avatar item-left>
          <img src="assets/zuku.jpg">
        </ion-avatar>
        
        <p>Zuku</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('DSTV')">
        <ion-avatar item-left>
          <img src="assets/dstv.jpg">
        </ion-avatar>
        
        <p>DSTV</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
      
      <ion-item (click)="open('Startimes')">
        <ion-avatar item-left>
          <img src="assets/startimes.jpg">
        </ion-avatar>
        
        <p>Startimes</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>

      <ion-item (click)="open('Safaricom Postpaid')">
        <ion-avatar item-left>
          <img src="assets/safcom.jpg">
        </ion-avatar>
        
        <p>Safaricom Postpaid</p>
        <button ion-button icon-only clear item-right>
          <ion-icon name="ios-arrow-forward" color="coopdarkgreen"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
    <ion-row center style="font-size:10px;width:100%">
        <ion-col (click)="openPage('MainServices')">
          <div style="text-align:center;color:#000000">
          <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
        <br>
        Main Services
                </div>
      </ion-col>
      <ion-col (click)="openPage('News')">
          <div style="text-align:center;color:#000000">
          <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
        <br>
        News
                </div>
      </ion-col>
      
      <ion-col (click)="openPage('Contact')">
          <div style="text-align:center;color:#000000">
          <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
        <br>
        Contact Us
        </div>
      </ion-col>
      <ion-col (click)="openPage('Location')">
          <div style="text-align:center;color:#000000">
          <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
        <br>
        Locate Us
                </div>
      </ion-col>
    </ion-row>
    
    </ion-navbar>
</ion-footer>
