<!--
  Generated template for the VerifyPin page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Verify Pin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>

    <ion-card padding>
        <br>
	    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Verification Code</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="code" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-9 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;letter-spacing:5px;height:100%;border:none;width:100%" type="tel" maxlength="6" [(ngModel)]="objectblock.vcode" />
		   </ion-col>

		</ion-row>
		<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Enter a valid Verification Code</div>
		<br>
		<br>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
		   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Pin Number</div>
		   <ion-col col-3 style="padding:0px;background:#00543C" class="center">
		       <ion-icon name="key" style="font-size:25px" color="mywhite"></ion-icon>
		   </ion-col>
		   <ion-col col-9 style="padding:0px" class="center">
		       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;letter-spacing:5px;height:100%;border:none;width:100%" type="password" maxlength="4" [(ngModel)]="objectblock.pin" />
		   </ion-col>

		</ion-row>
		<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid Pin Number</div>
		<br>
		<button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Submit<ion-spinner name="dots" color="light"></ion-spinner></button>
    </ion-card>

</ion-content>
