<!--
  Generated template for the BanktransfersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>Transfer Cash</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
   <ion-card padding>
    <br>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;">
	    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account from</div>
	    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
	        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
	    </ion-col>
	    <ion-col col-9 style="padding:0px" class="center">
			<ion-item color="mytran" style="font-size:12px" no-lines>
			    
			    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.accountfrom" style="max-width:auto;min-width:95%;text-align:right;">
			       <ion-option *ngFor="let account of accounts">{{account}}</ion-option>
			    </ion-select>
			</ion-item>

	   </ion-col>
  
	</ion-row>
	<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==1">Select an account</div>
    <br>
    <br>

    <ion-row style="position:relative;height:auto;font-size:12px;background:#759B84;padding:0px;">
	    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account to</div>
	    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
	        <ion-icon name="ios-redo" style="font-size:25px" color="mywhite"></ion-icon>
	    </ion-col>
	    <ion-col col-9 style="padding:0px" class="center">
			<ion-list radio-group [(ngModel)]="objectblock.provider" (ngModelChange)="getProvider(objectblock.provider)" >
			  
			  <ion-item color="mytran" style="font-size:12px" no-lines>
			    <ion-label>My account</ion-label>
			    
			    <ion-radio value="My account" color="mybrown"></ion-radio>
			  </ion-item>
			  <hr style="background:#ffffff;max-width:90%">
			  <ion-item color="mytran" style="font-size:12px" no-lines>
			    <ion-label>Other Co-op account</ion-label>
			    
			    <ion-radio value="Other Co-op account" color="mybrown"></ion-radio>
			  </ion-item>
			  <hr style="background:#ffffff;max-width:90%">
			  <ion-item color="mytran" style="font-size:12px" no-lines>
			    <ion-label>Other bank</ion-label>
			    
			    <ion-radio value="Other bank" color="mybrown"></ion-radio>
			  </ion-item>
			  <hr style="background:#ffffff;max-width:90%">
			  <ion-item color="mytran" style="font-size:12px" no-lines>
			    <ion-label>Saved Beneficiary</ion-label>
			    
			    <ion-radio value="Saved Beneficiary" color="mybrown"></ion-radio>
			  </ion-item>
			</ion-list>
	   </ion-col>
	</ion-row>
    <div *ngIf="objectblock.provider=='Other Co-op account'">
		<br>
		<br>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;">
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account type</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.myaccountType" style="max-width:auto;min-width:95%;text-align:right;">
				       <ion-option *ngFor="let myaccountType of myaccountTypes" [value]="myaccountType">{{myaccountType.name}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
		<div *ngIf="objectblock.myaccountType.name=='SACCO ACCOUNT'">
			<br>
			<br>
			<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Sacco ID</div>
			   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
			       <ion-icon name="cash" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.saccoid" />
			   </ion-col>
			</ion-row>
		    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==4">Enter a valid sacco ID</div>
		</div>
	</div>
    <br>
    <br>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;" *ngIf="objectblock.provider=='My account'">
	    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account to</div>
	    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
	        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
	    </ion-col>
	    <ion-col col-9 style="padding:0px" class="center">
			<ion-item color="mytran" style="font-size:12px" no-lines>
			    
			    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.accountto" style="max-width:auto;min-width:95%;text-align:right;">
			       <ion-option *ngFor="let account of accounts">{{account}}</ion-option>
			    </ion-select>
			</ion-item>

	   </ion-col>
  
	</ion-row>
	
	<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;" *ngIf="objectblock.provider=='Saved Beneficiary'">
	    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Beneficiary to transfer to</div>
	    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
	        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
	    </ion-col>
	    <ion-col col-9 style="padding:0px" class="center">
			<ion-item color="mytran" style="font-size:12px" no-lines>
			    
			    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.beneficiary" [selectOptions]="selectOptionsBeneficiary" (ngModelChange)="getBranches(beneficiary)" style="max-width:auto;min-width:95%;text-align:right;">
			       <ion-option *ngFor="let beneficiary  of beneficiaries" [value]="beneficiary" >{{beneficiary.name}}</ion-option>
			    </ion-select>
			</ion-item>

	   </ion-col>
  
	</ion-row>
	<div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Select account number to send to</div>
    <div *ngIf="objectblock.provider=='Other bank'">
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;" >
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Bank to transfer to</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet" [selectOptions]="selectOptionsBank" [(ngModel)]="objectblock.bank" (ngModelChange)="getBranches(objectblock.bank)" style="max-width:auto;min-width:95%;text-align:right;">
				       <ion-option *ngFor="let bank of banks" [value]="bank" >{{bank.name}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
		<br>
		<br>
		<ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;" >
		    <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Bank branch to transfer to</div>
		    <ion-col col-3 style="padding:0px;background:#00543C;" class="center" >
		        <ion-icon name="briefcase" style="font-size:25px" color="mywhite"></ion-icon>
		    </ion-col>
		    <ion-col col-9 style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    
				    <ion-select interface="action-sheet"  [(ngModel)]="objectblock.branch" [selectOptions]="selectOptionsBranch" style="max-width:auto;min-width:95%;text-align:right;">
				       <ion-option *ngFor="let branch of branches" [value]="branch">{{branch.name}}</ion-option>
				    </ion-select>
				</ion-item>

		   </ion-col>
	  
		</ion-row>
		<br>
		<br>
    </div>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;" *ngIf="objectblock.provider=='Other bank'||objectblock.provider=='Other Co-op account'">
	   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Account to</div>
	   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
	       <ion-icon name="phone-portrait" style="font-size:25px" color="mywhite"></ion-icon>
	   </ion-col>
	   <ion-col col-9 style="padding:0px" class="center">
	       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="16" [(ngModel)]="objectblock.accountto" >
	   </ion-col>
	</ion-row>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==2">Enter a valid account number to send to</div>
    <div *ngIf="objectblock.provider=='Other bank'">
	    <br>
	    <br>
	    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;" >
		    <ion-col  style="padding:0px" class="center">
				<ion-item color="mytran" style="font-size:12px" no-lines>
				    <ion-label>Save Beneficiary</ion-label>
	                <ion-checkbox color="coopdarkgreen"  [(ngModel)]="objectblock.saveben"></ion-checkbox>
				    
				</ion-item>
		   </ion-col>
		</ion-row>
		<div *ngIf="objectblock.saveben">
			<br>
			<br>
		    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
			   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Name of beneficiary</div>
			   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
			       <ion-icon name="cash" style="font-size:25px" color="mywhite"></ion-icon>
			   </ion-col>
			   <ion-col col-9 style="padding:0px" class="center">
			       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="text" maxlength="100" [(ngModel)]="objectblock.benename" />
			   </ion-col>
			</ion-row>
		    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==5">Enter a valid name</div>
	    </div>
	</div>
	<br>
	<br>
    <ion-row style="position:relative;height:45px;font-size:12px;background:#759B84;padding:0px;">
	   <div style="position:absolute;top:-24px;left:-2px;color:#000000;font-size:11px;padding:5px;white-space: nowrap;overflow: hidden;">Amount</div>
	   <ion-col col-3 style="padding:0px;background:#00543C;" class="center">
	       <ion-icon name="cash" style="font-size:25px" color="mywhite"></ion-icon>
	   </ion-col>
	   <ion-col col-9 style="padding:0px" class="center">
	       <input class="customplaceholder2" style="padding-left:10px;background:rgba(0,0,0,0);color:#ffffff;height:100%;border:none;width:100%" type="tel" maxlength="100" [(ngModel)]="objectblock.amount" />
	   </ion-col>
	</ion-row>
    <div style="padding:3px;width:100%;color:#8b0000;font-size:11px" *ngIf="error==3">Enter a valid amount</div>
	<br>
    
    
    <button ion-button block color="cooplightgreen" mode="ios"  (click)="submit(objectblock)" no-border  style="border-radius:0px;font-size:14px;height:45px;width:auto">Transfer<ion-spinner name="dots" color="light"></ion-spinner></button>
   </ion-card>

</ion-content>
<ion-footer no-border class="hide-on-keyboard-open">
   <ion-navbar color="mywhite" > 
        
		<ion-row center style="font-size:10px;width:100%">
		    <ion-col (click)="openPage('MainServices')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="apps" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Main Services
                </div>
			</ion-col>
			<ion-col (click)="openPage('News')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="paper" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				News
                </div>
			</ion-col>
			
			<ion-col (click)="openPage('Contact')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="call" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Contact Us
				</div>
			</ion-col>
			<ion-col (click)="openPage('Location')">
			    <div style="text-align:center;color:#000000">
			    <ion-icon name="map" color="coopdarkgreen" style="font-size:20px"></ion-icon>
				<br>
				Locate Us
                </div>
			</ion-col>
		</ion-row>
		
    </ion-navbar>
</ion-footer>