<!--
  Generated template for the SubmenusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="coopdarkgreen">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="back-view3" padding>
    <ion-list>
        <ion-item>
            <ion-card>
                <ion-avatar item-left>
			      <img src="img/airtel.png">
			    </ion-avatar>
			    <h2>Payloan</h2>
			    
            </ion-card>
        </ion-item>
    </ion-list>

</ion-content>
