<!--
  Generated template for the ConfirmModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content  style="background:rgba(0,0,0,.9);" >
    <div class="container2">
	    <div class="row row2 center" style="width:100%;padding:0px;"> 
		    <div style="background:#00543C;color:#ffffff;padding:0px;border-radius:5px" class="raisedlay">
				<div style="width:100%;background:#ffffff;color:#000000;padding:5px;text-align:center;border-radius:5px 5px 0px 0px" >
					<h6>MCo-opCash</h6>
				</div>
				<div [innerHTML]="template" style="color:#ffffff;font-size:13px;width:250px;padding:20px 20px 0px 20px"></div>
				<ion-row *ngIf="!completed" style="padding:10px;">
				    <ion-col col-6>
						<button ion-button block mode="ios" color="coopoddgreen" (click)="closeModal()"  style="width:100%">
						   Cancel
						</button>
				    </ion-col>
				    <ion-col col-6>
						<button ion-button block mode="ios" color="cooplightgreen" (click)="submit()"  style="width:100%">
						   OK
						</button>
				    </ion-col>
			    </ion-row>
			    <ion-row *ngIf="completed" padding>
				    <ion-col class="center">
						<button ion-button block mode="ios" color="cooplightgreen" (click)="closeModal2()"  style="width:100%">
						   Close
						</button>
				    </ion-col>
				</ion-row>
			</div>
		</div>
    </div>
</ion-content>
