<ion-content class="back-view3">
    <ion-row radio-group id="mapOptions" [(ngModel)]="mapType" (ngModelChange)='ionViewDidLoad()' style="padding:0px">
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Atms</ion-label>
				<ion-radio  value="atm"  mode="md" color="coopdarkgreen" checked></ion-radio>
			</ion-item>
		</ion-col>
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Branches</ion-label>
				<ion-radio value="branch" mode="md" color="coopdarkgreen"></ion-radio>
			</ion-item>
		</ion-col>
		<ion-col text-center col-4 style="padding:0px">
			<ion-item no-lines style="font-size:11px">
				<ion-label>Agents</ion-label>
				<ion-radio  value="agent" mode="md" color="coopdarkgreen"></ion-radio>
			</ion-item>
		</ion-col>
	</ion-row>
    <ion-list no-lines style="color:#000000" >
        <ion-item *ngFor="let location of locations" color="mywhite" >
            <ion-avatar item-left class="center">
                <ion-icon name="pin" color="coopdarkgreen"></ion-icon>
            </ion-avatar>
            <h2 style="font-size:11px;color:#000000">{{location.title}}</h2>
            <p style="color:#000000">{{location.distance}} Kilometres</p>
        </ion-item>
    </ion-list>

</ion-content>
